// remove mozilla default focus
::-moz-focus-inner {
    border: 0;
}
// Remove webkit default focus
:focus {
    outline: none;
}

button {
    padding: var(--space-x) var(--space-xx);
    box-sizing: border-box;
    color: var(--clr-text-contrast);
    height: 42px;
    min-width: 64px;
    background-color: var(--clr-primary);
    border-radius: var(--space-x);
    border: none;
    cursor: pointer;
}

input {
    border: none;
    margin: 0;
    border-radius: var(--space-x);
    height: 42px;
    box-sizing: border-box;
    padding: 0px 16px;
    font-size: 1rem;
}

input,
button {
    transition: box-shadow 125ms cubic-bezier(.18, .89, .32, 1.28);
}

button:hover {
    box-shadow: 0 0 0 2px var(--clr-accent);
}

input:focus,
button:focus {
    box-shadow: 0 0 0 2px var(--clr-accent),
        0 0 0 8px var(--clr-accent-light);
}

focus:active,
button:active {
    box-shadow: 0 0 0px var(--clr-accent-light),
        0 0 0 4px var(--clr-accent);
}
