body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xx);
    padding: var(--space-xx);
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    background: var(--clr-background);
    color: var(--clr-text);
    border-radius: var(--space-x);
    padding: var(--space-xx);
}

p {
    margin: 0px;
}

label {
    font-weight: 500;
}

div > button {
    margin-left: var(--space-x);
    float: right;
}
