:root {
    --clr-primary: #458083;
    --clr-accent: #00ffd5;
    --clr-accent-light: hsla(166, 61%, 69%, 0.8);
    --clr-text: #000;
    --clr-text-contrast: #fff;
    
    --clr-background: rgb(233, 233, 233);
    --space-x: 8px;
    --space-xx: 16px;
}

.secondary {
    --clr-primary: #c72621;
}

.dark-theme {
    --clr-primary: #c72621;
    --clr-accent: #f55762;
    --clr-accent-light: hsla(347, 100%, 77%, 0.8) ;
    --clr-text: white;
    --clr-text-contrast: rgb(255, 255, 255);
    --clr-background: #458083;
    .secondary {
        --clr-primary: #62a3a7;
    }
}
